aliasmatch ^/dash/live/(.*)$  <%=@livecontentroot%>/$1

<location ~ ^/dash/live/(.*)>
       <limitexcept get>
        order deny,allow
        deny from all
    </limitexcept>
    header set cache-control "no-store, no-cache, max-age=0, no-transform"
</location>

aliasmatch ^/dash/vod/(.*)$  <%=@vodcontentroot%>/$1

<location ~ ^/dash/vod/(.*)>
       <limitexcept get>
        order deny,allow
        deny from all
    </limitexcept>
    header set cache-control "no-store, no-cache, max-age=0, no-transform"
</location>
