# Configuration file for mod_mediamuxer

# put it in separate log
# enc={source}{sink}
#     E = Encrypted
#     U = Unencrypted
#     - = No info
# rt={request time} [usec]
# cs={time to create source and retrieve fmp4 data from back end} [usec]
# ts={transfer samples from source to sink including decryption of each sample if applicable} [usec]
# co={complete output including encrypting output if applicable} [usec]
CustomLog <%= @logfile_location -%>/<%= @package -%>-access.log "%h %l %u %t \"%r\" %>s %b \"%{User-Agent}i\" enc=%{mm_encryption}n rt=%{mediamuxer_req_time}n cs=%{mm_create_source}n ts=%{mm_transfer_samples}n co=%{mm_complete_output}n %D %X"

LoadModule mm_module modules/mod_mm.so

<LocationMatch "(?i)^/((mm/((hls3|hls5|ss|dash|fmp4)|(live|vod|catchup)))|(mediamuxer))/.*$">  
  SetHandler mm

  DeploymentConfigPath <%= @deployment_config_path %>
  DeploymentServerURL <%= @deployment_server_url %>
  <% if @drmproxy_url %>DRMProxyURL <%= @drmproxy_url %><% end -%>
  
  <% if @vod_root_paths %>VodRootPaths <%= @vod_root_paths %><% end -%>

  <% if @live_root_paths %>LiveRootPaths <%= @live_root_paths %><% end -%>
  
  <% if @catchup_root_paths %>CatchupRootPaths <%= @catchup_root_paths %><% end -%>
  
  <% if @serve_fmp4 %>ServeFMP4 <%= @serve_fmp4 %><%end -%>
  <% if @serve_dash %>ServeDASH <%= @serve_dash %><%end -%>
  <% if @seve_hls   %>ServeHLS <%= @serve_hls %><%end -%>
  <% if @serve_ss   %>ServeSS <%= @serve_ss %><%end -%>

  <% if @static_manifest_max_age %>StaticManifestMaxAge <%= @static_manifest_max_age %><% end -%>
  
  <% if @dynamic_manifest_max_age %>DynamicManifestMaxAge <%= @dynamic_manifest_max_age %><% end -%>
  
  <% if @vod_segment_max_age %>VoDSegmentMaxAge <%= @vod_segment_max_age %><% end -%>
  
  <% if @live_segment_max_age %>LiveSegmentMaxAge <%= @live_segment_max_age %><% end -%>
  
  <% if @catchup_segment_max_age %>CatchupSegmentMaxAge <%= @catchup_segment_max_age %><% end -%>
  
  <% if @subtitle_max_age %>SubtitleMaxAge <%= @subtitle_max_age %><% end -%>
  
  <%if @log_level %>LogUpTo <%= @log_level %><%end -%> 

</LocationMatch>
